#header {
    display: flex;
    align-self: center;
    margin-left: 50px;
}
#links {
    display: flex;
    list-style: none;
    align-self: center;
    justify-content: space-between;
    padding: 0;
    gap: 15px;
    margin-right: 50px;
}
a {
    color: white;
    text-decoration: none;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-image: url('https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg');
}
h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Projects, #about, #socials {
    min-width: 700px;
    max-width: 1000px;
}
.RPS, .EAS, .CALC {
    display: flex;
    align-items: center;
    justify-content: center;
}
.textDescription {
    width: 500px;
    height: 100px;
    background-color: red;
    align-items: center;
}
footer {
    position: sticky; bottom: 0;
    justify-content: center;
    align-items: center;
} 
header {
    position: sticky; top: 0;
    justify-content: space-between;
}
footer, header {
    min-height:50px; 
    display: flex;
    width: 100%;
    background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/fancy-cushion.png');
    color: white;
    font-size: large;
}


/* .popUp{
    display: none;
    width: 100%;
} 
iframe {
    border: 0;
} 
a:hover + .popUp,.popUp:hover{
    display: flex;
    position: relative;
    z-index: 100;
} */