body {
    background-color: beige;
    margin: 0;
}
.popUp{
    display: none;
    width: 100%;
}
iframe {
    border: 0;
}

a:hover + .popUp,.popUp:hover{
    display: flex;
    position: relative;
    z-index: 100;
}
#about {
    margin: 50px 100px 50px 100px;
}

header {
    min-height:50px; 
    background:gray;
    width: 100%;
    position: sticky; top: 0;
}
footer {
    min-height:50px; 
    background: gray;
    width: 100%;
    position: sticky; bottom: 0;
} 
#Projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.RPS, .EAS, .CALC {
    display: flex;
    align-items: center;
}
